body {
    background-color: hsl(265, 96%, 91%);
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-y: scroll;
}
/* h1 {
    color: white;
    font-size: 42px;
    text-decoration: underline;
    text-decoration-color: black;
    text-align: center;
} */
.logo {
    max-width: 100px;
    margin-left: 30px;
}
.main-header {
    display: flex;
    flex-direction: row;
    background-color: #e8c17d;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav-button {
    font-size: 24px;
    padding: 5px;
    background-color: transparent;
    border-color: transparent;
    display: none;
}
.shop-nav {
    width: 100%;
    background-color:#4a3d28;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    flex-wrap: wrap;
}
.shop-nav a {
    color: #ffe3b3;
    text-decoration: none;
    padding: 10px;
}
.shop-nav a:hover {
    background-color: #ffe3b3;
    color: #4a3d28;
}
.user-nav a {
    font-size: 32pt;
    text-decoration: none;
    color: #4a3d28;
}
.user-nav {
    margin-right: 30px;
}
.search {
    display: flex;
    min-width: 400px;

}
.search input {
    flex: 1;
    padding: 10px;
}
.slide {
    background-color: #e8c17d;
    min-height: 50vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.slide:nth-child(1) {
    background-image: url("/images/slides/pexels-rethaferguson-3621960.jpg");
    background-color: pink;
}
.slide:nth-child(2) {
    background-color: aquamarine;
}
.slide h2 {
    color: white;
    font-size: 6em;
    text-shadow: 0px 0px 1px black;
    margin: 12pt auto;
}
.slide-button {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 12pt;
    border-radius: 8pt;
}
.content {
   margin: 3em auto;
   max-width: 80vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 12pt;
}
.card img {
    max-width: 100%;
}
.card {
    flex: 1;
    min-width: 30%;
    background-color: #eeeeee;
    border: 1px solid black;
    border-radius: 6pt;
    overflow: hidden;
}
.card-content {
    padding: 12pt;
}
.card-button {
    text-decoration: none;
    background-color: aliceblue;
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 6pt;
    text-align: center;
    border-radius: 6pt;
    color: black;
}
.banner {
    width: 100%;
    background: linear-gradient( to right, purple,pink);
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12pt;
}
.social a {
    text-decoration: none;
    font-size: 18pt;
    color: black;
}
.main-footer {
    min-height: 20vh;
    background-color: #eeeeee;
    padding: 12pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16pt;
}
.footer-nav a {
    color: black;
    text-decoration: none;
}
#contact {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact label {
    display: block;
}
#contact input, #contact textarea {
    display: block;
    margin-bottom: 0.5em;
    padding: 0.5em;
}
.form-button {
    align-self: center;
    min-width: 150px;
    padding: 0.5em;
    background-color: #4a3d28;
    color: white;
}
@media screen and (max-width:480px) {
    .shop-nav {
        flex-direction: column;
        position: absolute;
        top: 100%;
        z-index: 999;
        min-height: 100vh;
        gap: 1em;
        max-width: 100vw;
        box-sizing: border-box;
        padding: 10px;
        left: -100%;
        transition: left 0.5s;
    }
    .shop-nav.open {
        left: 0px;
    }
    .logo {
        max-width: 60px;
        margin-left: 0;
        padding: 5px;
    }
    .search {
        min-width: auto;
    }
    .search button {
        display: none;
    }
    .main-header {
        position: relative;
    }
    .nav-button {
        display: block;
    }
    .card {
        min-width: 340px;
    }
}